<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Auto École
			{% endblock %}
		</title>
		<link rel="icon" href="/assets/img/logo/logo.png"> 
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
	<style>
	h1{
		text-align: center;
		padding-top: 120px;
	}
	</style>
		{% include 'partials/nav.html.twig' %}
		{% block body %}{% endblock %}
	</body>
</html>
