<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Auto École
			{% endblock %}
		</title>
		<link rel="icon" href="/assets/img/logo/logo.png"> 
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav>
            <a href="/" class="logo"><img src="/assets/img/logo/logo.png" alt="logo auto école"></a>
			<ul>
				<li>
					<a href="/">Menu</a>
				</li>
				<li>
					<a href="/presentation">Présentation</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
			<ul>
				<li><a href="/connexion">Connexion</a></li>
			</ul>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
